* {
  margin: 0;
  padding: 0;
  font-size: 0;
}
body .head {
  width: 100%;
  font-size: 0;
}
body .head img {
  width: 100%;
}
body .content {
  width: 100%;
  font-size: 0;
}
body .content img {
  width: 100%;
}
body .goods-box {
  padding: .2rem .2rem;
  background: white;
}
body .goods-box img {
  width: 2.9rem;
}
body .goods-box img:nth-child(1) {
  margin-right: .2rem;
}
body .goods-box2 {
  padding-bottom: .5rem;
}
body .foot {
  width: 100%;
  font-size: 0;
}
body .foot img {
  width: 100%;
}
